.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #E6CCB2;
  color: #582F0E;

  height: 35px;

}

.left-side {
font-size: 30px;
margin-top: 5px;
margin-left: 8px;

font: small-caps bold 24px/1 sans-serif;
font-weight: bolder;
text-shadow: 2px 4px 6px #582F0E;
}





section {
  margin:auto;
  margin-top: 40px;
margin-left: 90px;

}
.icons{
 display: flex;
gap: 15px;
margin-right: 50px;
margin-top: 5px;
size: 50px;
cursor: pointer;

}

